<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header::header"></header>
<main>


    <div class="container mt-5 px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h1>Коды ответов сервера</h1>


        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th scope="col">Код ответа</th>
                <th scope="col">Статус код</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>

            </tr>
            </thead>
            <tbody>
            <div th:each="el: ${codes}">
                <tr>
                    <td><h5 th:text="${el.code}"/></td>
                    <td><h5 th:text="${el.statusCode}"/></td>
                    <td><h5 th:text="${el.nameEn}+' / '+${el.nameRu} "/></td>
                    <td><h5 th:text="${el.descriptionRu}"/></td>

                </tr>

            </div>
            </tbody>
        </table>


    </div>


</main>

<div th:insert="blocks/footer::footer"></div>

</body>
</html>